.book__comments {
  width: 80%;
}

.bookComments {
  margin-top: 100px;
}

.comment__add {
  margin: 20px 0;
}

.book__comment {
  margin-bottom: 25px;
}

.comment__header {
  display: flex;
  flex-direction: row;
}

.comment__date {
  color: gray;
  margin: 0 10px;
}

.comment__button {
  float: right;
  margin: 10px 0;
}

.comment__showReplies {
  margin-top: 10px;
}

.comment__reply__input {
  width: 90%;
  margin: 10px 0;
}
.comment__reply_buttons button {
  width: 25%;
  padding: 5px;
}

.selectedLike {
  color: skyblue;
  margin: 0 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.like {
  color: lightgray;
  margin: 0 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.selectedLike:hover {
  color: gray;
  margin: 0 10px;
}

.like:hover {
  color: gray;
  margin: 0 10px;
}

/* comment__replies */
.comment__showReplies {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: blue;
}

.comment__showReplies p {
  margin-left: 5px;
}
.comment__replies {
  margin-left: 50px;
}

@media screen and (max-width: 660px) {
  .comments__component {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .comments__component h3 {
    font-size: 1rem;
  }

  .book__comments {
    width: 90%;
    margin: 0 auto;
  }

  .book__comments strong {
    font-size: 0.95rem;
  }

  .book__comments p {
    font-size: 0.85rem;
  }

  .comment__reply {
    width: 100%;
  }

  .comment__reply__p {
    white-space: pre;
  }

  .comment__reply__input {
    width: 100%;
  }
  .comment__reply_buttons button {
    width: 25%;
    padding: 5px;
  }

  .comment__add{
    width:90% !important;
  }

   .comment__button{
  font-size:0.55rem !important;
  padding: 5px 10px !important;
}
}
